.dropdown-list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #0A2038;
}

.list-container{
    /*background: #CCF0EC;*/
    /*height: 32px;*/
    /*margin-bottom: 8px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 0px 0px 6px 18.5px;
}

.icon-styles {
    margin-right: 16px;
    width: 7.74px;
    height: 4.54px;

}

